ecommerce-backend/HELP.md
ecommerce-backend/target/
ecommerce-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
ecommerce-backend/.apt_generated
ecommerce-backend/.classpath
ecommerce-backend/.factorypath
ecommerce-backend/.project
ecommerce-backend/.settings
ecommerce-backend/.springBeans
ecommerce-backend/.sts4-cache

### IntelliJ IDEA ###
.idea
ecommerce-backend/*.iws
ecommerce-backend/*.iml
ecommerce-backend/*.ipr

### NetBeans ###
ecommerce-backend/nbproject/private/
ecommerce-backend/nbbuild/
ecommerce-backend/dist/
ecommerce-backend/nbdist/
ecommerce-backend/.nb-gradle/
ecommerce-backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
ecommerce-backend/.vscode/
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml

ecommerce-frontend/angular-ecommerce/.vscode
ecommerce-frontend/angular-ecommerce/src/app/ecommerce-prototype.code-workspace
ecommerce-prototype.code-workspace
